Use common-debian-service-https-redirect * signup.salsa.debian.org

<VirtualHost *:443>
	ServerName signup.salsa.debian.org
	ServerAdmin debian-admin@lists.debian.org

	Use common-debian-service-ssl signup.salsa.debian.org
	Use common-ssl-HSTS
	Use http-pkp-signup.salsa.debian.org

	ErrorLog /var/log/apache2/signup.salsa.debian.org-error.log
	CustomLog /var/log/apache2/signup.salsa.debian.org-access.log privacy

	WSGIDaemonProcess gitlab-self-service user=nobody group=nogroup home=/ threads=5
	WSGIScriptAlias / /srv/salsa.debian.org/gitlab_newuser/wsgi/gitlab_self_service.wsgi

	Alias /static /srv/salsa.debian.org/gitlab_newuser/src/gitlab_self_service/static

	<Directory /srv/salsa.debian.org/gitlab_newuser/wsgi>
		<Files gitlab_self_service.wsgi>
			WSGIProcessGroup gitlab-self-service
			WSGIApplicationGroup %{GLOBAL}
			Require all granted
		</Files>
	</Directory>

	<Directory /srv/salsa.debian.org/gitlab_newuser/src/gitlab_self_service/static>
		AllowOverride None
		# Needed to use libjs-bootstrap from /usr/share/javascript
		Options FollowSymlinks
		Require all granted
	</Directory>
</VirtualHost>

# vim:set syn=apache:
