##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<%=
ignore = []
case @fqdn
when /draghi.debian.org/ then                                  ignore << %w{userdir-ldap userdir-ldap-cgi libheimdal-kadm5-perl django-ldapdb ud python-cdb python-nameparser python-django-ldapdb}
when "handel.debian.org" then                                  ignore << %w{puppet-dashboard}
when "reger.debian.org" then                                   ignore << %w{librt-extension-commandbymail-perl}
when /(rainier|rapoport).debian.org/ then                      ignore << %w{rabbitmq-server}
when "sibelius.debian.org" then                                ignore << %w{tivsm-ba tivsm-bacit tivsm-api64 gskssl64 gskcrypt64 tivsm-api tivsm-apicit gskssl gskcrypt}
when /(storace|backuphost).debian.org/ then                    ignore << %w{postgresql-client-9.1 libssl1.0.0:amd64 postgresql-client-9.4}
end

if scope.call_function('versioncmp', [@lsbmajdistrelease, '8']) <= 0
  case @fqdn
    when /(conova-node02|conova-node01).debian.org/ then                     ignore << %w{qemu-efi}
  end
end

ignore.flatten.join("\n")
%>
